<app-header></app-header>
<div class="container" style="margin-top: 80px;">
    <h1>Chi Tiết Phim</h1>
    <div class="movie-detail" style="display: flex; align-items: flex-start;">
        <div class="movie-image" style="margin-right: 50px;">
            <img src="../../assets/1.jpg" alt="Poster Phim" style="width: 260px;">
            <button class="btn btn-danger btn-block"  >Mua vé</button>
        </div>
        <table class="movie-info">
            <tr><th>Tên Phim:</th><td>Tên phim mẫu</td></tr>
            <tr><th>Đạo diễn:</th><td>Đạo diễn mẫu</td></tr>
            <tr><th>Diễn Viên:</th><td>Diễn viên mẫu</td></tr>
            <tr><th>Ngày Khởi Chiếu:</th><td>01/01/2025</td></tr>
            <tr><th>Thể Loại:</th><td>Hành động, Viễn tưởng</td></tr>
            <tr><th>Thời Lượng:</th><td>120 phút</td></tr>
            <tr><th>Ngôn Ngữ:</th><td>Tiếng Việt</td></tr>
            <tr><th>Độ tuổi:</th><td>18+</td></tr>
        </table>
    </div>
    <div class="trailer-intro" style="display: flex; align-items: flex-start;">
        <div class="trailer">
            <h1>Trailer:</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EXhamQsxNqU?si=OXtf4pQ05cps7RNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="intro" style="margin-left: 100px;">
            <h1>Giới Thiệu:</h1>
            <p>Đây là phần giới thiệu phim mẫu...</p>
        </div>
    </div>
</div>